Repository danieleschmidt/photonic-nn-foundry, changes with the owners that CODEOWNERS names for each.
All owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team, @terragon-labs/docs-team, @terragon-labs/build-team, @terragon-labs/devops-team, @terragon-labs/security-team

CODEOWNERS:

# Global code owners
* @terragon-labs/core-team

# Source code
/src/ @terragon-labs/core-team @terragon-labs/python-experts

# Tests
/tests/ @terragon-labs/qa-team @terragon-labs/core-team

# Documentation
*.md @terragon-labs/docs-team
/docs/ @terragon-labs/docs-team

# Configuration files
pyproject.toml @terragon-labs/build-team
requirements*.txt @terragon-labs/build-team
Dockerfile @terragon-labs/devops-team
docker-compose.yml @terragon-labs/devops-team

# CI/CD and workflows
/.github/ @terragon-labs/devops-team @terragon-labs/security-team

# Security-related files
SECURITY.md @terragon-labs/security-team
.pre-commit-config.yaml @terragon-labs/security-team

# Package configuration
setup.py @terragon-labs/build-team
setup.cfg @terragon-labs/build-team

feat(autonomous-sdlc): add autonomous value discovery and execution system
  .terragon/README.md
  .terragon/autonomous-executor.py
  .terragon/autonomous-workflow.md
  .terragon/config.json
  .terragon/config.yaml
  .terragon/continuous-monitor.py
  .terragon/value-discovery.py
  .terragon/value-metrics.json
  .terragon/value-trends.json
  BACKLOG.md
  docs/workflows/autonomous-value.yml
Owners: @terragon-labs/docs-team, @terragon-labs/core-team

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0001-pytorch-framework.md
  docs/adr/0002-docker-development.md
  docs/adr/0003-python-package-structure.md
  docs/adr/README.md
  docs/guides/developer/contributing.md
  docs/guides/user/getting-started.md
Owners: @terragon-labs/docs-team

feat: setup development environment and code quality tools
  .commitlintrc.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Makefile
  pyproject.toml
Owners: @terragon-labs/core-team, @terragon-labs/build-team

test: establish comprehensive testing infrastructure
  tests/compatibility/__init__.py
  tests/e2e/__init__.py
  tests/e2e/test_complete_workflow.py
  tests/fixtures/__init__.py
  tests/fixtures/data.py
  tests/fixtures/models.py
  tests/performance/__init__.py
  tests/performance/test_transpiler_performance.py
  tests/security/__init__.py
  tests/security/test_input_validation.py
  tests/stress/__init__.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-team

build: add containerization and build automation
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .env.example
  .releaserc.json
  Makefile
  docker-compose.yml
  docs/deployment/BUILD_SYSTEM.md
  scripts/generate_sbom.py
  scripts/update_version.py
Owners: @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/docs-team

ops: add monitoring and observability configuration
  docs/monitoring/OBSERVABILITY.md
  docs/runbooks/INCIDENT_RESPONSE.md
  docs/runbooks/MAINTENANCE.md
  monitoring/alerting/prometheus-rules.yml
  monitoring/grafana/dashboards/dashboard.yml
  monitoring/grafana/dashboards/definitions/photonic-foundry-overview.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
Owners: @terragon-labs/docs-team, @terragon-labs/core-team

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/SETUP_REQUIRED.md
  docs/workflows/WORKFLOW_GUIDE.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @terragon-labs/docs-team

feat: add metrics tracking and automation scripts
  .github/project-metrics.json
  scripts/automate_repository.py
  scripts/collect_metrics.py
  scripts/dependency_health_check.py
Owners: @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/core-team

feat: complete SDLC implementation with comprehensive summary
  FINAL_SDLC_IMPLEMENTATION_SUMMARY.md
Owners: @terragon-labs/docs-team

test: enhance testing infrastructure with comprehensive test coverage
  tests/compatibility/test_pytorch_versions.py
  tests/conftest.py
  tests/integration/test_full_pipeline.py
  tests/stress/test_large_models.py
  tests/utils.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-team

build: enhance containerization and build automation infrastructure
  .dockerignore
  scripts/docker-build.sh
  scripts/health-check.sh
  scripts/setup.sh
Owners: @terragon-labs/core-team

ops: implement comprehensive monitoring and observability infrastructure
  docs/runbooks/OPERATIONAL_PROCEDURES.md
  src/photonic_foundry/observability.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts

docs: add comprehensive security compliance framework and templates
  docs/workflows/SECURITY_COMPLIANCE.md
Owners: @terragon-labs/docs-team

feat: implement comprehensive metrics tracking and repository automation
  .github/project-metrics.json
  scripts/automated_repository_management.py
Owners: @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/core-team

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/001-use-pytorch-as-primary-framework.md
  docs/adr/002-implement-photonic-mac-units.md
  docs/adr/003-adopt-containerized-development.md
  docs/adr/README.md
Owners: @terragon-labs/docs-team

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .env.example
  .vscode/settings.json
  Makefile
  pyproject.toml
Owners: @terragon-labs/core-team, @terragon-labs/build-team

test: establish comprehensive testing infrastructure
  tests/conftest.py
  tests/fixtures/photonic_data.py
  tests/performance/test_benchmark_suite.py
  tests/security/test_security_validation.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-team

build: add containerization and build automation
  .dockerignore
  Dockerfile.multi-arch
  docker-compose.prod.yml
  scripts/build.sh
  scripts/healthcheck.sh
Owners: @terragon-labs/core-team

ops: add monitoring and observability configuration
  docs/runbooks/incident-response.md
  docs/runbooks/maintenance-procedures.md
  monitoring/alert_rules.yml
  monitoring/grafana/dashboards/photonic-foundry-overview.json
  monitoring/prometheus.yml
Owners: @terragon-labs/docs-team, @terragon-labs/core-team

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/security-scan.yml
Owners: @terragon-labs/docs-team

feat: establish project foundation and implement core photonic functionality
  docs/development/ARCHITECTURE.md
  src/photonic_foundry/cli.py
  src/photonic_foundry/core.py
  src/photonic_foundry/models/__init__.py
  src/photonic_foundry/models/simple_mlp.py
  src/photonic_foundry/transpiler.py
  src/photonic_foundry/utils/__init__.py
  src/photonic_foundry/utils/generators.py
  src/photonic_foundry/utils/optimizers.py
  src/photonic_foundry/utils/validators.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts

feat: setup development environment and implement comprehensive data layer
  .env.example
  src/photonic_foundry/cli.py
  src/photonic_foundry/core.py
  src/photonic_foundry/database/__init__.py
  src/photonic_foundry/database/cache.py
  src/photonic_foundry/database/connection.py
  src/photonic_foundry/database/models.py
  src/photonic_foundry/database/repositories.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat: build comprehensive testing infrastructure and API implementation
  src/photonic_foundry/api/__init__.py
  src/photonic_foundry/api/schemas.py
  src/photonic_foundry/api/server.py
  tests/unit/test_core_enhanced.py
  tests/unit/test_database.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat: CHECKPOINT A1 - Enhanced project foundation and advanced photonic algorithms
  docs/development/ARCHITECTURE.md
  src/photonic_foundry/core.py
  src/photonic_foundry/utils/advanced_optimizers.py
  src/photonic_foundry/utils/optimizers.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts

feat: CHECKPOINT A2 - Enhanced development environment and comprehensive data layer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .env.example
  src/photonic_foundry/database/migrations/001_initial_schema.py
  src/photonic_foundry/database/seeds.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat: CHECKPOINT A3 - Comprehensive testing infrastructure and complete API implementation
  src/photonic_foundry/api/endpoints.py
  src/photonic_foundry/api/middleware.py
  tests/integration/test_api_endpoints.py
  tests/unit/test_advanced_optimizers.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(deployment): add production deployment setup with Docker, monitoring, and security
  deployment/.env.example
  deployment/docker-compose.production.yml
  deployment/nginx/nginx.conf
  deployment/production-deployment.md
  deployment/scripts/deploy.sh
  deployment/scripts/monitoring-setup.sh
  src/photonic_foundry/api/middleware.py
  src/photonic_foundry/core.py
  src/photonic_foundry/core_enhanced.py
  src/photonic_foundry/database/__init__.py
  src/photonic_foundry/models/__init__.py
  src/photonic_foundry/monitoring.py
  src/photonic_foundry/scaling.py
  src/photonic_foundry/security.py
  src/photonic_foundry/utils/generators.py
  src/photonic_foundry/utils/generators_broken.py
  src/photonic_foundry/utils/optimizers.py
  src/photonic_foundry/utils/optimizers_broken.py
  src/photonic_foundry/utils/validators.py
  tests/integration/test_system_integration.py
  tests/unit/test_enhanced_core.py
  tests/unit/test_security.py
Owners: @terragon-labs/core-team, @terragon-labs/docs-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(deployment): add production deployment setup with Docker, monitoring, and security (#10)
  deployment/.env.example
  deployment/docker-compose.production.yml
  deployment/nginx/nginx.conf
  deployment/production-deployment.md
  deployment/scripts/deploy.sh
  deployment/scripts/monitoring-setup.sh
  src/photonic_foundry/api/middleware.py
  src/photonic_foundry/core.py
  src/photonic_foundry/core_enhanced.py
  src/photonic_foundry/database/__init__.py
  src/photonic_foundry/models/__init__.py
  src/photonic_foundry/monitoring.py
  src/photonic_foundry/scaling.py
  src/photonic_foundry/security.py
  src/photonic_foundry/utils/generators.py
  src/photonic_foundry/utils/generators_broken.py
  src/photonic_foundry/utils/optimizers.py
  src/photonic_foundry/utils/optimizers_broken.py
  src/photonic_foundry/utils/validators.py
  tests/integration/test_system_integration.py
  tests/unit/test_enhanced_core.py
  tests/unit/test_security.py
Owners: @terragon-labs/core-team, @terragon-labs/docs-team, @terragon-labs/python-experts, @terragon-labs/qa-team

Update README.md
  README.md
Owners: @terragon-labs/docs-team

feat(verilog_generator): add advanced Verilog and testbench generation utilities
  TERRAGON_IMPLEMENTATION_SUMMARY.md
  examples/basic_usage.py
  examples/basic_usage_minimal.py
  examples/basic_usage_standalone.py
  examples/robust_usage.py
  examples/test_robust_standalone.py
  output/quality_gate_results.json
  output/simple_demo_mlp.v
  output/simple_demo_mlp_config.txt
  output/standalone_demo_mlp.v
  output/standalone_demo_mlp_config.txt
  scripts/run_quality_gates.py
  src/photonic_foundry/error_handling.py
  src/photonic_foundry/performance.py
  src/photonic_foundry/utils/generators.py
  src/photonic_foundry/utils/generators_broken.py
  src/photonic_foundry/utils/optimizers.py
  src/photonic_foundry/utils/optimizers_broken.py
  src/photonic_foundry/validation.py
  tests/test_comprehensive.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(verilog_generator): add advanced Verilog and testbench generation utilities (#11)
  TERRAGON_IMPLEMENTATION_SUMMARY.md
  examples/basic_usage.py
  examples/basic_usage_minimal.py
  examples/basic_usage_standalone.py
  examples/robust_usage.py
  examples/test_robust_standalone.py
  output/quality_gate_results.json
  output/simple_demo_mlp.v
  output/simple_demo_mlp_config.txt
  output/standalone_demo_mlp.v
  output/standalone_demo_mlp_config.txt
  scripts/run_quality_gates.py
  src/photonic_foundry/error_handling.py
  src/photonic_foundry/performance.py
  src/photonic_foundry/utils/generators.py
  src/photonic_foundry/utils/generators_broken.py
  src/photonic_foundry/utils/optimizers.py
  src/photonic_foundry/utils/optimizers_broken.py
  src/photonic_foundry/validation.py
  tests/test_comprehensive.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(quantum-photonic-foundry): initial implementation of quantum-inspired photonic neural network foundry
  Dockerfile.production
  QUANTUM_ARCHITECTURE.md
  README.md
  deployment/helm/Chart.yaml
  deployment/helm/values.yaml
  deployment/quantum-deploy.yml
  deployment/scripts/deploy.sh
  examples/quantum_optimization_demo.py
  examples/quantum_planning_demo.py
  quality_gate_report.json
  requirements.txt
  run_quality_gates.py
  src/photonic_foundry/__init__.py
  src/photonic_foundry/quantum_optimizer.py
  src/photonic_foundry/quantum_planner.py
  src/photonic_foundry/quantum_resilience.py
  src/photonic_foundry/quantum_security.py
  tests/unit/test_quantum_planner.py
  tests/unit/test_quantum_security.py
Owners: @terragon-labs/core-team, @terragon-labs/docs-team, @terragon-labs/build-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(quantum-photonic-foundry): initial implementation of quantum-inspired photonic neural network foundry (#12)
  Dockerfile.production
  QUANTUM_ARCHITECTURE.md
  README.md
  deployment/helm/Chart.yaml
  deployment/helm/values.yaml
  deployment/quantum-deploy.yml
  deployment/scripts/deploy.sh
  examples/quantum_optimization_demo.py
  examples/quantum_planning_demo.py
  quality_gate_report.json
  requirements.txt
  run_quality_gates.py
  src/photonic_foundry/__init__.py
  src/photonic_foundry/quantum_optimizer.py
  src/photonic_foundry/quantum_planner.py
  src/photonic_foundry/quantum_resilience.py
  src/photonic_foundry/quantum_security.py
  tests/unit/test_quantum_planner.py
  tests/unit/test_quantum_security.py
Owners: @terragon-labs/core-team, @terragon-labs/docs-team, @terragon-labs/build-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(research-framework): add comprehensive quantum-photonic research framework and demos
  =0.1.0
  =0.100.0
  =1.0.0
  =1.21.0
  =1.3.0
  =1.7.0
  =2.0.0
  =22.0.0
  =3.0.0
  =3.4.8
  =3.5.0
  =4.0.0
  =4.60.0
  =5.8.0
  =6.0
  =7.0.0
  =8.0.0
  examples/comprehensive_research_demo.py
  optimization_cache/optimization_cache.pkl
  output/simple_mlp_example.v
  output/simple_mlp_example_config.txt
  quality_gate_results.json
  research_results/quantum_photonic_performance_study/config.json
  research_results/quantum_photonic_performance_study/report.json
  research_results/quantum_photonic_performance_study/report.pkl
  run_final_quality_gates.py
  src/photonic_foundry/enhanced_resilience.py
  src/photonic_foundry/error_handling.py
  src/photonic_foundry/performance_optimizer.py
  src/photonic_foundry/research_framework.py
  src/photonic_foundry/utils/validators.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat(research-framework): add comprehensive quantum-photonic research framework and demos (#13)
  =0.1.0
  =0.100.0
  =1.0.0
  =1.21.0
  =1.3.0
  =1.7.0
  =2.0.0
  =22.0.0
  =3.0.0
  =3.4.8
  =3.5.0
  =4.0.0
  =4.60.0
  =5.8.0
  =6.0
  =7.0.0
  =8.0.0
  examples/comprehensive_research_demo.py
  optimization_cache/optimization_cache.pkl
  output/simple_mlp_example.v
  output/simple_mlp_example_config.txt
  quality_gate_results.json
  research_results/quantum_photonic_performance_study/config.json
  research_results/quantum_photonic_performance_study/report.json
  research_results/quantum_photonic_performance_study/report.pkl
  run_final_quality_gates.py
  src/photonic_foundry/enhanced_resilience.py
  src/photonic_foundry/error_handling.py
  src/photonic_foundry/performance_optimizer.py
  src/photonic_foundry/research_framework.py
  src/photonic_foundry/utils/validators.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat(quantum-optimizer): add novel quantum algorithms and advanced research framework
  QUANTUM_RESEARCH_FRAMEWORK_ENHANCEMENT.md
  circuits.db-shm
  circuits.db-wal
  examples/advanced_quantum_research_demo.py
  src/photonic_foundry/circuit_breaker.py
  src/photonic_foundry/core.py
  src/photonic_foundry/logging_config.py
  src/photonic_foundry/quantum_optimizer.py
  src/photonic_foundry/research_framework.py
  src/photonic_foundry/utils/validators.py
  tests/conftest.py
  tests/unit/test_circuit_metrics.py
  tests/unit/test_photonic_layer_validation.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(quantum-optimizer): add novel quantum algorithms and advanced research framework (#14)
  QUANTUM_RESEARCH_FRAMEWORK_ENHANCEMENT.md
  circuits.db-shm
  circuits.db-wal
  examples/advanced_quantum_research_demo.py
  src/photonic_foundry/circuit_breaker.py
  src/photonic_foundry/core.py
  src/photonic_foundry/logging_config.py
  src/photonic_foundry/quantum_optimizer.py
  src/photonic_foundry/research_framework.py
  src/photonic_foundry/utils/validators.py
  tests/conftest.py
  tests/unit/test_circuit_metrics.py
  tests/unit/test_photonic_layer_validation.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(autonomous-sdlc): complete autonomous SDLC implementation with global deployment
  .github/workflows/global-deployment.yml
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY.md
  deployment/workflows/README.md
  docker-buildx.yml
Owners: @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/docs-team, @terragon-labs/core-team

feat(autonomous-sdlc): Revolutionary Quantum-Photonic Research Framework v4.0
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY_FINAL.md
  examples/advanced_quantum_research_breakthrough.py
  quality_gate_results_advanced.json
  run_advanced_quality_gates.py
  src/photonic_foundry/advanced_research_framework.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts

feat(autonomous-sdlc): Revolutionary Quantum-Photonic Research Framework v4.0 (#16)
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY_FINAL.md
  examples/advanced_quantum_research_breakthrough.py
  quality_gate_results_advanced.json
  run_advanced_quality_gates.py
  src/photonic_foundry/advanced_research_framework.py
Owners: @terragon-labs/docs-team, @terragon-labs/core-team, @terragon-labs/python-experts
